* {
  font-family: helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("pattern.jpeg");
  background-image: image();
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.Brushes {
  background-color: mediumspringgreen;
}

.Frames {
  background-color: lightcoral;
}

.Paint {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  font-family: helvetica;
  font-style: normal;
  color: blue;
}
